<div class="container">
  <h2 class="mt-5">Add Gateway</h2>
  <form class='auth-form mt-4' (ngSubmit)='submit()' [formGroup]='gateWayForm' autocomplete='off' novalidate>
    <div class='row'>
      <div class='col-12'>
        <div class='form-group'>
          <label for='serialNumber' class='font-weight-lighter'>Serial Number</label>
          <input id='serialNumber' type='text' autocomplete='off' formControlName='serialNumber' name='serialNumber'
                 class='form-control' placeholder='Serial Number' required [ngClass]="{
                              'form-control-required':
                                  gateWayForm.get('serialNumber').errors?.required && gateWayForm.get('serialNumber').touched
                          }"/>
          <div
            *ngIf="(gateWayForm.get('serialNumber').errors?.required || gateWayForm.get('serialNumber').invalid) && gateWayForm.get('serialNumber').touched"
            class='alert alert-danger'>
            Required
          </div>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <div class='form-group'>
          <label for='humanName' class='font-weight-lighter'>Human Name</label>
          <input id='humanName' type='text' autocomplete='off' formControlName='humanName' name='humanName'
                 class='form-control' placeholder='Human Name' required [ngClass]="{
                              'form-control-required':
                                  gateWayForm.get('humanName').errors?.required && gateWayForm.get('humanName').touched
                          }"/>
          <div
            *ngIf="(gateWayForm.get('humanName').errors?.required || gateWayForm.get('humanName').invalid) && gateWayForm.get('humanName').touched"
            class='alert alert-danger'>
            Required
          </div>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <div class='form-group'>
          <label for='ipAddress' class='font-weight-lighter'>IP Address</label>
          <input id='ipAddress' type='text' autocomplete='off' formControlName='ipAddress' name='ipAddress'
                 class='form-control' placeholder='IP Address' required [ngClass]="{
                              'form-control-required':
                                  gateWayForm.get('ipAddress').errors?.required && gateWayForm.get('ipAddress').touched
                          }"/>
          <div
            *ngIf="(gateWayForm.get('ipAddress').errors?.required || gateWayForm.get('ipAddress').invalid) && gateWayForm.get('ipAddress').touched"
            class='alert alert-danger'>
            Required
          </div>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
