<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">UID</th>
      <th scope="col">Vendor</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let device of devices">
      <td>{{device.UID}}</td>
      <td>{{device.vendor}}</td>
      <td>{{device.status ? 'active' : 'inactive'}}</td>
      <td>
        <a (click)="removeDevice(device._id)" class="ms-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive"
               viewBox="0 0 16 16">
            <path
              d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <h2 class="mt-5">Add device</h2>
  <form class='auth-form mt-4' (ngSubmit)='submit()' [formGroup]='deviceForm' autocomplete='off' novalidate>
    <div class='row'>
      <div class='col-12'>
        <div class='form-group'>
          <label for='UID' class='font-weight-lighter'>UID</label>
          <input id='UID' type='text' autocomplete='off' formControlName='UID' name='UID'
                 class='form-control' placeholder='UID' required [ngClass]="{
                              'form-control-required':
                                  deviceForm.get('UID').errors?.required && deviceForm.get('UID').touched
                          }"/>
          <div
            *ngIf="(deviceForm.get('UID').errors?.required || deviceForm.get('UID').invalid) && deviceForm.get('UID').touched"
            class='alert alert-danger'>
            Required
          </div>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <div class='form-group'>
          <label for='vendor' class='font-weight-lighter'>vendor</label>
          <input id='vendor' type='text' autocomplete='off' formControlName='vendor' name='vendor'
                 class='form-control' placeholder='vendor' required [ngClass]="{
                              'form-control-required':
                                  deviceForm.get('vendor').errors?.required && deviceForm.get('vendor').touched
                          }"/>
          <div
            *ngIf="(deviceForm.get('vendor').errors?.required || deviceForm.get('vendor').invalid) && deviceForm.get('vendor').touched"
            class='alert alert-danger'>
            Required
          </div>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <div class="form-check form-switch">
          <input class="form-check-input" formControlName='status' [checked]="deviceForm.get('status').value"
                 type="checkbox" id="status">
          <label class="form-check-label" for="status">status</label>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

</div>
